<div style="{$style}">
    <script type="text/javascript"><!--
    auctionads_ad_client = "{$ad_client}";
    auctionads_ad_campaign = "{$ad_campaign}";
    auctionads_ad_width = "{$ad_width}";
    auctionads_ad_height = "{$ad_height}";
    auctionads_ad_kw =  "{$ad_keywords}";
    auctionads_color_border =  "{$color_border}";
    auctionads_color_bg =  "{$color_bg}";
    auctionads_color_heading =  "{$color_heading}";
    auctionads_color_text =  "{$color_text}";
    auctionads_color_link =  "{$color_link}";
    auctionads_options =  "{$options}";
    --></script>
    <script type="text/javascript" src="http://ads.auctionads.com/pagead/show_ads.js">
    </script>
</div>